.go-back {
    position: fixed; /* Закрепляет кнопку на экране */
    top: 10vh;
    left: 10vw;
    z-index: 1000; /* Убедись, что кнопка не перекрывается другими элементами */
    
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #035c56;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    &:hover {
      background: #029a90;
      transform: translateY(-2px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300%;
      height: 300%;
      background: rgba(255, 255, 255, 0.2);
      transition: all 0.3s ease-in-out;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
    }

    &:hover::before {
      transform: translate(-50%, -50%) scale(1);
    }

    svg {
      width: 20px;
      height: 20px;
    }
}
